<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style2.css">
	<link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/styleHead.css">
    <title>Register</title>
</head>
<body>
	
	<header>
		<a href="/" class="logo">GallArt</a>
		<ul>
		  <% for (let i = 0 ; i < nav.length ; i++) { %>
		  <li><a href="<%=nav[i].link%>" id="line"><%=nav[i].title%></a></li>
		  <%}%>
		</ul>
	  </header>
	

    <div>
      <h1 class="heading">File Upload</h1>
      <% if (typeof msg != 'undefined') { %>
        <h1 style="font-size: larger; color: green; text-align: center;"><%=msg%></h1>
        <% } %>
      <form action="/users/upload" method="POST" enctype="multipart/form-data">
      
        <div style="color: black;">
          <div>
            <input name="myImage" type="file">
          </div>
        </div>
      <button type="submit" >Submit</button>
      </form>
      <br>
      
      <br>
      
      
    </div>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" style="align-self: center;" class="centerimg">
      




<script>
    window.addEventListener('scroll', function() {
  let header = document.querySelector('header');
  header.classList.toggle('sticky', window.scrollY > 0);
});
 

</script>
</body>
</html>







